.login-full{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: white;
	z-index: 10;
	top: 0px;
	padding: 50px;
}
.avatar{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: bottom;
}
.default-avatar{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.unstyled{
	list-style: none;
}
.unstyled>li:first-child>.avatar {
	width: 60px;
	height: 60px;
}
.cover{
	width: 100px;
}
.game, #before-play, #playing, #wait{
	text-align: center;
}
