html {
  width: auto !important;
  overflow-x: hidden !important;
  background: url('../images/back.jpg');
}
body {
  width: auto !important;
  overflow-x: hidden !important;
  background-color: transparent;
}
.login-full{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: white;
	z-index: 10;
	top: 0px;
	padding: 50px;
}
.avatar{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: bottom;
}
.default-avatar{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	min-height: 20px;
	min-width: 20px;
}
.navbar-nav img{
	max-height: 20px;
	max-width: 20px; 
}
.unstyled{
	list-style: none;
}
.unstyled>li:first-child>.avatar {
	width: 60px;
	height: 60px;
}
.cover{
	width: 100px;
}
.appPanel, #remSongs{
	text-align: center;
	background-color: transparent;
}
div.sortable-placeholder{
	display: inline-block;
	border : 1px dashed grey;
	min-width: 100px;
	min-height: 100px;
	margin : 2px;
}
.sortable>div:hover{
	cursor: pointer;
}
.playlist{
	border: 1px solid grey;
}
.sortable>.list-group-item, .song{
	display: inline-block;
	margin: 5px;
}
.songInfo{
	width: 150px;
	height: 150px;
	background-color: #EFEFEF;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	padding: 0;
}
.songInfoText{
	background-color: rgba(255,255,255,0.75);
	height: 50%;
	margin-top: 75px;
	padding: 3px;
}
.songInfoText h5{
	font-weight: bold;
}
.playButton{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../images/play.png');
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.songInfo:hover .playButton{
	display: block;
	cursor: pointer;
}
.inline-label{
	display : block;
}
.inline-form-control{
	display: inline-block;
}
.inline-input{
	width: 50%;
}
.remSong{
	display: inline-block;
	text-align: center;
}
.app{
	max-height: 100vh;
	margin-top: 50px;
}
#last-songs{
	overflow-y: auto;
	max-height: 90vh;
	margin: 0;
}
row{
	max-height: 100vh;
}
.score-plus{
	position: absolute;
	z-index: 100;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	text-shadow: black 0.1em 0.1em 0.2em
}
.songDetails{
	text-align: center;
}
.songDetails > img{
	margin-right: auto;
	margin-left: auto;
}
.saySomething{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.saySomething a:hover{
	cursor: pointer !important;
}
.tab-content{
	background: white;
	padding: 10px;
}
.message{
	display: block;
}
.messages{
	max-height: 30vh;
	overflow-y: auto;
	margin-bottom: 5px;
}
.more{
	padding: 15px;
}
.uploadDetails img, .uploadDetails div{
	display: inline-block;
}
.panel-title-with-btn{
	display: inline-block;
}
.apropos-icon{
	height: 20px;
	display: inline-block;
	margin: 5px;
}