html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
  height: 100vh;
}
.login-full{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: white;
	z-index: 10;
	top: 0px;
	padding: 50px;
}
.avatar{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: bottom;
}
.default-avatar{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.unstyled{
	list-style: none;
}
.unstyled>li:first-child>.avatar {
	width: 60px;
	height: 60px;
}
.cover{
	width: 100px;
}
.panel, #remSongs{
	text-align: center;
}
div.sortable-placeholder{
	display: inline-block;
	border : 1px dashed grey;
	min-width: 100px;
	min-height: 100px;
	margin : 2px;
}
.sortable>div:hover{
	cursor: pointer;
}
.playlist{
	border: 1px solid grey;
}
.sortable>.list-group-item, .song{
	display: inline-block;
	margin: 5px;
}
.songInfo{
	max-width: 150px;
	background-color: #EFEFEF;
}
.inline-label{
	display : block;
}
.inline-form-control{
	display: inline-block;
}
.inline-input{
	width: 50%;
}
.remSong{
	display: inline-block;
	border: 1px dashed grey;
	border-radius: 1px;
	color: grey;
	text-align: center;
}
.app{
	max-height: 100vh;
}
#last-songs{
	overflow-y: auto;
	max-height: 90vh;
	margin: 0;
}
row{
	max-height: 100vh;
}