.login-full{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: white;
	z-index: 10;
	top: 0px;
	padding: 50px;
}
.avatar{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: bottom;
}
.default-avatar{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.unstyled{
	list-style: none;
}
.unstyled>li:first-child>.avatar {
	width: 60px;
	height: 60px;
}
.cover{
	width: 100px;
}
.game, #before-play, #playing, #wait{
	text-align: center;
}
div.sortable-placeholder{
	display: inline-block;
	border : 1px dashed grey;
	min-width: 100px;
	min-height: 100px;
	margin : 2px;
}
.sortable>div:hover{
	cursor: pointer;
}
.playlist{
	border: 1px solid grey;
}
.sortable>.list-group-item, .song{
	display: inline-block;
	margin: 5px;
}
